
body {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    background-color: #e3f2fd;
    color: #fff;
}

.container {
    width: 780px;

    border-radius: 20px;

    padding: 35px 40px;

    background-color: black;
}

.container header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #b2b2b2;
}

header h2 {
    font-size: 1.6rem;
}

header .column {
    display: flex;
    align-items: center;
}

header .column span {
    margin-right: 15px;

    font-size: 1.19rem;
    font-weight: 500;
}

.volume-slider input {
    accent-color: #fff;
}

.keys-check input {
    appearance: none;
    cursor: pointer;

    position: relative;

    border-radius: 30px;

    width: 60px;
    height: 30px;

    background-color: #4b4b4b;
}

.keys-check input::before {
    position: absolute;
    top: 50%;
    left: 0.3rem;

    transform: translateY(-50%);
    transition: all 0.3s ease;

    border-radius: inherit;

    content: "";

    width: 20px;
    height: 20px;

    background-color: #8c8c8c;
}

.keys-check input:checked::before {
    left: 2.1rem;

    background-color: #fff;
}

.piano-keys {
    display: flex;

    margin-top: 40px;
}

.piano-keys .key {
    position: relative;

    list-style: none;
    text-transform: uppercase;

    cursor: pointer;
    user-select: none;

    color: #a2a2a2;
}

.piano-keys .white {
    border: 1px solid #000000;
    border-radius: 8px;

    width: 70px;
    height: 230px;

    background: linear-gradient(#fff 96%, #eee 4%);
}

.piano-keys .black {
    z-index: 2;

    border: 1px solid #000000;
    border-radius: 0 0 5px 5px;

    margin: 0 -22px 0 -22px;

    width: 44px;
    height: 140px;

    background: linear-gradient(#333, #000);
}

.piano-keys span {
    position: absolute;
    text-align: center;
    font-size: 1.13rem;

    bottom: 20px;
    width: 100%;
}

.piano-keys .white:active {
    box-shadow: inset -5px 5px 20px
    rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom #fff 0%, #eee 100%);
}

.piano-keys .black:active {
    box-shadow: inset -5px 5px 10px
    rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom #000, #434343);
}
















